@import "tailwindcss";

@font-face {
  font-family: "AntonSC";
  src: url("/fonts/AntonSC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


@theme {
  --color-red: #C1121F;
  --color-white: #F5FBEF;
  --color-blue: #88AFCB;
  --color-black2: #1A1C1E;
  --font-anton: "AntonSC", sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #F5FBEF;
}

/* Hide scrollbar completely */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none; 
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-slideIn {
    animation: slideInRight 0.5s ease-out forwards;
}

/* Optional: Tambahan animasi hover untuk mobile menu */
@keyframes pulse-subtle {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
}

.pulse-subtle {
    animation: pulse-subtle 2s infinite;
}